<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirige todas las peticiones a index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>

# Seguridad: bloquea acceso directo a archivos sensibles
<FilesMatch "\.(env|htaccess|git|sql)$">
    Order allow,deny
    Deny from all
</FilesMatch>
